<div class="card mb-1 d-flex">
    <div class="card-body p-1 form-group d-flex mb-0">
        <div class="mr-auto">
            <h5 class="align-text-bottom card-title mb-2 mt-2 ml-4" style="color:black;">
                {{trip.place}}
            </h5>
            <h6 class="align-text-bottom card-title mb-2 mt-2 ml-4 mr-auto" style="color:darkgrey;">{{trip.tripDate}}</h6>
        </div>
        
         <ul class="list-inline city-icons animate text-right form-group mt-auto mb-auto">
            <li class="list-inline-item">
                <button class="btn btn-success">
                    Details
                </button>
            </li>
        </ul> 
    </div>
</div>
