<div class="card mb-1 d-flex">
    <div class="card-body p-1 form-group d-flex mb-0">
        <h6 class="align-text-bottom card-title mb-2 mt-2 ml-4 mr-auto" style="color:black;">
            {{trip.place | titlecase}}
        </h6>
         <ul class="list-inline city-icons animate text-right form-group mb-0">
            <li class="list-inline-item">
                <button  class="btn btn-primary">
                    <i class="fa fa-info"></i>
                </button>
            </li>
            <li class="list-inline-item">
                <button class="btn btn-success">
                    Visit!
                </button>
            </li>
        </ul> 
    </div>
</div>
