<div>
    <form [formGroup]='registerForm' (ngSubmit)="registerForm.valid && register()" autocomplete="off">
        <h2 class="text-center text-primary">Sign up!</h2>
        <hr>
        <div class="form-group">
            <input [class.is-invalid]='registerForm.get("username").errors && registerForm.get("username").touched' 
            type="text" class="form-control" formControlName='username' placeholder="Username">

            <div class="invalid-feedback">Username is obligatory</div>
        </div>

        <div class="form-group">
            <input [class.is-invalid]='registerForm.get("email").errors && registerForm.get("email").touched' 
            type="email" class="form-control" formControlName='email' placeholder="Email">

            <div *ngIf="registerForm.get('email').hasError('required')" class="invalid-feedback">Email address is obligatory</div>
            <div *ngIf="registerForm.get('email').hasError('email')" class="invalid-feedback">That is not a valid email address</div>
        </div>
    
        <div class="form-group">
            <input [class.is-invalid]='registerForm.get("password").errors && registerForm.get("password").touched' 
            type="password" class="form-control" formControlName='password' placeholder="Password">

            <div *ngIf="registerForm.get('password').hasError('required')" class="invalid-feedback">Password is obligatory</div>
            <div *ngIf="registerForm.get('password').hasError('minlength')" class="invalid-feedback">Password is too short (min. 4 characters)</div>
            <div *ngIf="registerForm.get('password').hasError('maxlength')" class="invalid-feedback">Password is too long (max. 30 characters)</div>
        </div>

       

        <div class="form-group">
            <input [class.is-invalid]='registerForm.get("confirmPassword").errors && registerForm.get("confirmPassword").touched'
            type="password" class="form-control" formControlName='confirmPassword' placeholder="Confirm Password">

            <div *ngIf="registerForm.get('confirmPassword').hasError('required')" class="invalid-feedback">Please confirm password</div>
            <div *ngIf="registerForm.get('confirmPassword').hasError('isMatching')" class="invalid-feedback">The input does not match the password</div>
        </div>
    
        <div class="form-group text-center" >
            <button [disabled]='!registerForm.valid' class="btn btn-primary mr-2" type="submit">Register</button>
            <button class="btn btn-default mr-2" id="cancelbutton" (click)="cancel()" type="button">Cancel</button>
        </div>
    </form>

</div>
