<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container">
        <a class="navbar-brand" href="#">Travel App</a>

          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="#">Cities</a>
            </li>
            <li class="nav-item" *ngIf="accountService.currentUser$ | async">
              <a class="nav-link" href="#">Your trips</a>
            </li>
          </ul>
          <div class="form-inline mt-2 mt-md-0" autocomplete="off" *ngIf="accountService.currentUser$ | async">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" href="#">Profile</a>
              </li>
            </ul>
            <button class="btn btn-outline-success ml-4 my-2 my-sm-0" type="button" (click)="logout()">Logout</button>
          </div>
          <form #loginForm="ngForm" class="form-inline mt-2 mt-md-0" (ngSubmit)="login()" autocomplete="off" *ngIf="(accountService.currentUser$ | async)===null">
            <input name="username" [(ngModel)]="model.username" class="form-control mr-sm-2" type="text" placeholder="Username">
            <input name="password" [(ngModel)]="model.password" class="form-control mr-sm-2" type="password" placeholder="Password">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Login</button>
          </form>

          <div class="form-inline mt-2 mt-md-0" autocomplete="off" *ngIf="(accountService.currentUser$ | async)===null">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link link-outline-success ml-3" id ="register" href="#">Register</a>
              </li>
            </ul>
          </div>
          
        </div>
  </nav>