<div  class="row">
    <div class="col-12" *ngFor="let city of cities">
        <app-city-card [city]="city"></app-city-card>
    </div>
    
</div>

<div class="d-flex justify-content-center mt-5" *ngIf="pagination">
    <pagination 
    [boundaryLinks]="true" 
    [totalItems]="pagination.totalItems"
    [itemsPerPage]="pagination.itemsPerPage"
    [(ngModel)]="pagination.currentPage"
    (pageChanged)="pageChanged($event)"
    previousText="&lsaquo;" 
    nextText="&rsaquo;" 
    firstText="&laquo;" 
    lastText="&raquo;">
 
    </pagination>
</div>